:root {
  //Neutral Colors
  --Neutral900: hsl(227, 75%, 14%);
  --Neutral800: hsl(226, 25%, 17%); //changes
  --Neutral700: hsl(225, 23%, 24%); //changes
  --Neutral600: hsl(226, 11%, 37%);
  --Neutral300: hsl(0, 0%, 78%);
  --Neutral200: hsl(217, 61%, 90%);
  --Neutral100: hsl(0, 0%, 93%); //changes
  --Neutral0: hsl(200, 60%, 99%);

  --moonBackground: hsl(0, 0%, 93%);

  --borderColour: hsl(226, 11%, 37%); //changes

  --textBtn: hsl(200, 60%, 99%); //changes
  --removeBtn: hsl(227, 75%, 14%); //changes
  --shadow: hsla(0, 0%, 0%, 0);

  //Red Colors
  --Red400: hsl(3, 86%, 64%); //changes
  --Red500: hsl(3, 71%, 56%);
  --Red700: hsl(3, 77%, 44%);

  //Gradients
  --LightGradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --DarkGradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}
